.bodyy{
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.card{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

#sub{
    text-align: center;
}

.dowry_amount{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.go_back {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.go_back:hover {
    background-color: #333;
}